header{
    background-color: #005f4b;
    height: 100px;
}
h1{
    background-color: aquamarine;
    width: 200px;
    text-align: center;
    font-size: 50px;
}
h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 97px;
text-align: center;
margin-right: 100px;
}
button{
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #043604;
    height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
div{
    display: flex;
    align-items: center;
}