header{
    background-color: rgb(5, 5, 87);
}
h1{
    background-color: aquamarine;
    width: 200px;
    text-align: center;
    font-size: 50px;
}
h2{
    background-color: aqua;
}
button{
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 10, 99);
    height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}